<include file="public:iframe_header"  />
<script type="text/javascript">

</script>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>系统信息</h3>
            <ul class="tab-base">
                <li><a href="javascript:void(0);"><span>管理1</span></a></li>
                <li><a class="current"><span>管理2</span></a></li>
                <li><a href="javascript:void(0);"><span>管理3</span></a></li>
            </ul>
        </div>
    </div>
    <div class="fixed-empty"></div>
    <table id="prompt" class="table tb-type2">
        <tbody>
        <tr class="space odd" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
            <th class="nobg" colspan="12"><div class="title"><h5>操作提示</h5><span class="arrow"></span></div></th>
        </tr>
        <tr class="odd" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
            <td>
                <ul>
                    <li>规格将会对应到商品发布的规格，规格值由店铺自己添加。</li>
                    <li>默认安装中会添加一个默认颜色规格，请不要删除，只有这个颜色规格才能在商品详细页显示为图片。</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="homepage-focus">
        <ul class="tab-menu">
            <li class="current">店铺信息</li>
            <li>注册信息</li>
        </ul>
        <form name="form1" method="post" target="msg_frm">
            <table class="table tb-type2">
                <tbody>
                <!--不能或不需要修改的值-->
                <tr class="noborder" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                    <td class="required" colspan="2"><label>会员:</label></td>
                </tr>
                <tr class="noborder" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
                    <td class="vatop rowform">65195345</td>
                    <td class="vatop tips"></td>
                </tr>
                <!--input 文本类型的值-->
                <tr>
                    <td class="required" colspan="2"><label>姓名:</label></td>
                </tr>
                <tr class="noborder">
                    <td class="vatop rowform"><input id="member_truename" class="txt valid" type="text" name="member_truename" value="eric" /></td>
                    <td class="vatop tips">请填写真实的姓名</td>
                </tr>
                </tbody>
                <tfoot id="submit-holder">
                <tr class="tfoot">
                    <td colspan="2"><a class="btn" onclick="document.form1.submit()" href="javascript:void(0);"></a></td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
<include file="public:iframe_footer"  />